@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
$my-blue: #B3E5FC;
$my-grey: #607D8B;
$my-litegrey: #D8D8D8;
$my-liteblue: #B3E5FC;

h4 {
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.brand {
    font-family: AdobeGothicStd-Bold;
    color: inherit;
    transition: all 0.1s ease;
}

a, a:hover {
    text-decoration: none;
    color: $my-grey;
}

nav {
    text-transform: capitalize;
    color: black;
    height: 8vh;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.20);
    display: flex;
    align-items: center;
    padding: 0 3% 0 5%;
    
    .logos {
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
            height: 5.5vh;
        }
        span {
            @extend .brand;
            padding-left: 5%;
        }
    }
    
    ul {
        text-align: right;
        width: 100%;
        margin: 0;
        
        li {
            display:inline;
            list-style-type: none;
            
            a {
                padding: 0 3% 0 3%;
                text-decoration: none;
                color: inherit;
            }
            
            
        }
    }
}
nav.min {
    justify-content: center;
}

.splash {
    position: relative;
    
    .caption {
        color: white;
        z-index: 3;
        position: absolute;
        top: 0;
        height: 92vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        a {
            display: block;
            text-decoration: none;
            color: inherit;
            padding: 1% 3% 1% 3%;
            border: 1px white solid;
            border-radius: 2px;
            
            &:hover {
                color: $my-blue;
                border-color: $my-blue;
                transition: all 0.1s ease;
            }
        }
    }
    
    .hero {
      width: 100%;
      height: 92vh;
      background: url('/connected/static/img/splash.jpeg');
      background-size: cover;

      &:before {
        content: '';
        height: 92vh;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top ,$my-grey , rgba(0,0,0,.2));
      }
    }
}


#view {
    position: relative;

    #left {
        position: absolute;
        padding: 5%;
        margin-top: 10%;
        padding-left: 20%;
        left: 0;
        width: 55%;
        background-color: $my-liteblue;
        border-radius: 0 5px 5px 0;
        
        button {
            background: $my-grey;
            border-radius: 2px;
            color: white;
            padding: 2% 5% 2% 5%;
            border: 0;
            float: right;
            clear: both;
        }
    }
    
    #right {
        position: absolute;
        right: 0;
        width: 45%;
        margin-top: 10%;
        padding: 5%;
        img {
            width: 100%;
        }
    }
    
    form{
        margin-left: 10%;
        
        >div {
            margin: 5% 0 5%;
        }
        
        input {
            width: 100%;
            padding: 3%;
            border-radius: 5px;
            border: 0;
        }
    }
    
    
    .ui-datepicker-inline {
        color: #aaa;
         .ui-datepicker-header {
            border-radius: 5px 5px 0 0;
            padding: 5%;
            background: $my-litegrey;
            display: flex;
            justify-content: space-between;
            color: black;

            a:nth-child(2) {
                order: 2;
            }
        }

        .ui-datepicker-calendar {
            border-radius: 0 0 5px 5px;
            text-align: center;
            width: 100%;
            background: #fafafa;
            padding: 5%;

            th, td {
                width: 14.28%;
            }
            
            th {
                color: #000;
            }
            
            a {
                display: block;
                color: black;
                border-radius: 8px;
                padding: 5%;
            }
            .ui-state-highlight a  {
                background: $my-grey;
                color: white;
            }
        }
        
    }
   
}